.no-padding-top-bottom {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.colvis {
    margin-top: 20px;
}

.font-size-25 {
    font-size: 25px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.margin-left-right-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.smaller-font-size {
    font-size: 0.9rem;
}