.no-padding-top-bottom {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.colvis {
    margin-top: 20px;
}

.font-size-25 {
    font-size: 25px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.margin-left-right-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.smaller-font-size {
    font-size: 0.9rem;
}

.text-center {
    text-align: center !important;
}

.code-block {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.6;
    overflow-x: auto;
    white-space: pre-wrap;
    margin: 10px 0;
}

.highlight-code {
    font-size: 0.875em!important;
    color: var(--mdb-code-color)!important;
    word-wrap: break-word!important;
}